<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SideBar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="/Users/mohdsahil/My Projects/SideBar_Using_HTML&CSS/style.css"
    />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="sty.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <div class="full-home-page">
        <div class="sidebar">
          <input type="checkbox" name="checkbox" id="check" />
          <div class="btn_one">
            <label for="check">
              <i class="fa-solid fa-bars"></i>
            </label>
          </div>
          <div class="sidebar_menu">
          <div class="logo">
            <a href="#">GatePass</a>
          </div>
          <div class="btn_two">
            <label for="check">
              <i class="fa-solid fa-xmark"></i>
            </label>
          </div>
          <div class="menu">
            
              <div class="hover">
                  <i class="fa-solid fa-house"><a href="#"></a></i>
                  <div style="display: flex;"  id="responsive">
                    <a class="res"  href="http://localhost:8080/guardhome">Home</a>
                  </div>
                  
              </div>


              <div class="hover">
                
                  <i class="fa-solid fa-address-book"> <a href="#"></a></i>
                  <div style="display: flex;"  id="responsive">
                    <a  class="res" href="http://localhost:8080/guarddeshboard">DashBoard</a>
                  </div>
              </div>
              
              <div class="hover">
                  <i class="fa-solid fa-right-from-bracket"><a href="#"></a></i>
                  <div style="display: flex;"  id="responsive">
                    <a class="res" href="http://localhost:8080">Log Out</a>
                  </div>
              </div>

        </div>
        </div>
        </div>
        <div class="sidebar-side">
           <div class="image-home">
            <p><span style="color: #E2703A">Welcome</span> to the <span style="color: #395B64">Book Your Gate Pass</span> dashboard, your gateway to reserving gate passes.</p>
           </div>
        </div>
      </div>
    </div>
  
  </body>
</html>
