<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="Full-sign-page">
      <div class="sign-page-support">
        <div class="sign-up-page">
          <p class="sign-up-page-text">Sign in</p>
          <div class="email-id-div">
            <label for="email">Email Id:</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter Your email "
            />
          </div>
          <div class="password-id-div">
            <label for="password">Password:</label>
            <input
              type="password"
              name="email"
              id="password"
              placeholder="Enter Your password"
            />
          </div>
          <div class="signinpage-button-div">
            <button class="signinpage-button"><a href="http://localhost:8080/studenthome">click here</a></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
